---
import FormPatrocini from "../react/FormPatrocini.jsx";
const props = Astro.props;
const { formId } = props;
---

<style lang='scss'>
  @import "../styles/variables";
</style>
<div class='container my-5'>
  <div class='row'>
    <FormPatrocini formId={formId} client:only />
  </div>
</div>
